# Ativa o mod_rewrite
RewriteEngine On

# Se a requisição for para a API
RewriteRule ^api/(.*)$ public/index.php [L]

# Se a requisição for para um arquivo ou pasta que existe, serve normalmente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Se não for um arquivo ou pasta, redireciona para o frontend
RewriteRule ^(.*)$ frontend/dist/index.html [L]
